<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "jthj.jpg" , :size => "1200x1200", :style => 'align:center'%>
    </div>
    <div class="item">
      <%= image_tag "Yash-Chopra.jpg" , :size => "1200x1200", :style => 'align:center'%>
    </div>
    <div class="item">
      <%= image_tag "jthj.jpg" , :size => "1200x1200", :style => 'align:center'%>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>