<div class="custome-container" style="padding-right:10px;padding-left:10px">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit" style="background-color:#FAA732">
    <h1>Jago Indian</h1>
    <p>Adhikar milte nahi liye jate hain
Aajad hain magar gulami kiye jate hain
Vandan karo un senaniyon ko
Jo maut ko aanchal mein jiye jate hain…
</p>
    <p><a class="btn btn-primary btn-large">Learn more »</a></p>
  </div>
  <!-- Example row of columns -->
</div>